.greybox {
    background-color: #030f80;
    position: absolute;
    top: 0%;
    bottom: 70%;
    left: 0%;
    right: 0%;
    text-align: left;
    z-index: -1;
}

h1 {
    display: flex;
    justify-content: space-between;
    height: 45%;
    font-size: 50px;
    position: absolute;
    left: 7%;
    bottom: 10%;
    color: white;
    font-family: 'Roboto', sans-serif;
}

h3 {
    display: flex;
    justify-content: space-between;
    height: 20%;
    font-size: 13px;
    position: absolute;
    left: 7%;
    bottom: 7%;
    color: white;
    font-family: 'Roboto', sans-serif;
}

h4 {
    font-family: 'Plus Jakarta Sans', sans-serif;
    line-height: 0.3;
}